.s{
    position: relative;
    bottom: -40px;
    display: flex;
    gap: 40px;
    
    
}
h3{
    border: 1px solid black;
    height: 40px;
    width: 300px;
    font-size: 15px;
    color: white;
    padding: 5px;
    border-radius: 20px;
    background-color: lightsteelblue;
}
.main{
    display: flex;
    background-color: white;
}
.up{
    display: flex;
    
}
